@model IEnumerable<FirstLessonUI.Models.Entity.SiteInfo>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="col-xl-12 col-sm-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Site Info</h4>
            <p class="card-description">
                Add Site Info <code> <a class="btn btn-primary"  asp-action="Add">Create Site Info</a></code>
            </p>
            <div class="table-responsive">
                <table class="table table-bordered border-primary mb-0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Logo</th>
                            <th>Favicon</th>
                            <th>Number</th>
                            <th>Address</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                                  <tr>

                                <td>@item.Name</td>

                                <td>
                                    @if(item.Logo != null)
                                    {
                                        <img src="~/assetss/img/@item.Logo"  width="30" height="30"/>
                                    }
                                    
                                  
                                    </td>
                                          <td>
                                    <img src="~/assetss/img/@item.FavIcon" width="30" height="30" />
                                  
                                    </td>
                                <td>@item.Number</td>
                                <td>@item.Address</td>
                                <td>
                                    <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-sm btn-primary"><i class="fa-solid fa-pen"></i></a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-warning"><i class="fa-solid fa-trash"></i></a>
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>


